{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>恒达科技</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <!-- 页面头部 -->
    
    <div class="container top">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a>
                    
                    <img src="#" class="img-responsive" alt="Image" src="{% static 'img/logo.jpg' %}">
                    
                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a class="phone ant">
                    <span class="glyphicon glyphicon-phone">电话：1145141919810&nbsp;&nbsp;</span>
                </a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a class="mail ant">
                    <span class="glyphicon glyphicon-envelope">邮箱：1145141919810@6.com&nbsp;&nbsp;</span>             
                </a>
            </div>
        </div>
        
    </div>
    
</body>
</html>